html{
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior:smooth;
}
*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
 header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
 }

body{
    position:relative ;
    display:flex ;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:rgba(147, 147, 147, 0.99);
}

nav{
    background-color: black;
    height:80px;
    width: 100%;
}

label.logo{
    background-color: black;
   position: absolute;
    color:white;
    font-size: 180%;
    left: 5%;
    top: 35%;
    font-weight: bold;
}

nav ul{
    background-color: black;
    float:right;
    margin-right: 20px;
    min-width: 0;
}

nav ul li{
    background-color: black;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    margin-right: 30px;
}

nav ul li a{
   background-color: black;
   color: white;
   font-size: 17px;
   padding: 7px 13px;
   border-radius: 3px;
   text-decoration: none;
   position: relative;
   right: 450px;
}

img.Logopic{
    background-color: black;
    position: fixed;
    object-position: right;
    width: 5%;
    top: 2.4%;
}

a.active2,a:hover{
    background: #1b9bff
}
 .medmsg{
    position: absolute;
    background-color: rgb(237, 226, 226);
    padding: 1% 44.86%;
    right: 0.002%;
    border-color: rgb(0, 0, 0);
    border: 3px solid black;
    top: 10.7%;
}



.title1{
    position: absolute;
    top: 44%;
    color: white;
    right:40%;
    font-size: 230%;
    -webkit-text-stroke: 0.7px black;
}

.title2{
    position: absolute;
    top: 57%;
    color: white;
    right: 35%;
    width: 30%;
    font-size: 180%;
    color: #d9ff00;
    -webkit-text-stroke: 0.7px black;  
}

.firstpic{
    position: absolute;
    width:43%;
    right: 28%;
    border: 7px solid black;
    top: 32%;
    background-color: black;
}

.secondpic{
    position: absolute;
    width:43%;
    right: 28%;
    border: 5px solid black;
    background-color: black;
    top: 105%;
}

.title4{
    position: absolute;
    top: 116%;
    color: white;
    right: 45%;
    font-size: 230%;
    -webkit-text-stroke: 0.7px black;
    
}

.title5{
    position: absolute;
    top: 128%;
    color: white;
    right: 35%;
    width: 30%;
    font-size: 180%;
    color: #ffffff;
    -webkit-text-stroke: 0.7px black;  
}

.thirdpic{
    position: absolute;
    width:43%;
    right:28%;
    border: 5px solid black;
    top: 177%;
    background-color: black;
    margin-bottom: 70%;
}

.title7{
    position: absolute;
    top: 188%;
    color: white;
    right: 44%;
    font-size: 230%;
    -webkit-text-stroke: 0.7px black;
    
}

.title8{
    position: absolute;
    top: 200%;
    right: 35%;
    width: 30%;
    font-size: 180%;
    color: #ffffff;
    -webkit-text-stroke: 0.7px black;
}

